@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  * {font-family: Estedad;}
  img {user-select: none;}
}
@layer components{
  
}
@layer utilities {
  /* Direction Class */
  .ltr {direction: ltr; }
  .rtl {direction: rtl; }
}