<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authors List</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container mx-auto py-10">
      <h1 class="text-center text-4xl font-bold mb-4">Authors List</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for author in authors %}
          <div class="rounded-lg overflow-hidden shadow-lg bg-white my-10">
            <a href="{% url 'authors_detail' author.id %}">
              <img src="{{ author.image }}" alt="{{ author.name }}" class="w-full h-64 object-cover" />
              <div class="p-4">
                <h2 class="font-bold text-xl">{{ author.name }}</h2>
                <p class="text-gray-600 my-2">{{ author.bio }}</p>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">View Profile</button>
              </div>
            </a>
          </div>
        {% empty %}
          <p>No authors found.</p>
        {% endfor %}
      </div>
      
    </div>
  </body>
</html>
